{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-5">Edytuj komentarz</h1>

        <div class="card shadow-sm mb-5">
            <div class="card-body">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}


                <div class="mb-3">
                    {{ form_label(form.content, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-dark ">Wstaw</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
